<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header id="header" class="header" th:fragment="header">
    <div class="top-left">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/main.html}"><img th:src="@{/static/images/logo.png}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img th:src="@{/static/images/logo2.png}" alt="Logo"></a>
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>


    <!-- 导航栏-->
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                <span style="margin-right: 10px;">尊敬的<b>[[${session.loginUser.getUserName()}]]</b>，欢迎您的到来！</span>

                <!-- 使用纯HTML的下拉菜单结构 -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header">控制中心</div>
                        <a class="dropdown-item" th:href="@{/toAdmin}">
                            <i class="fa fa-user-secret"></i> 管理员
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="UpdateUserName()">
                            <i class="fa fa-cog"></i> 修改名字
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="fa fa-power-off"></i> 退出登录
                        </a>
                    </div>
                </div>

                <!-- 修改名字的脚本 -->
                <script>
                    function UpdateUserName() {
                        var oldname='[[${session.loginUser.getUserName()}]]';
                        console.log(oldname);
                        var newname = prompt("请修改您的名字：", "");
                        if (newname == null || newname == "") {
                            return false;
                        } else {
                            window.location.href="/getStringParam/"+newname;
                        }
                    }
                </script>
            </div>
        </div>
    </div>

    <!-- 确保Bootstrap下拉菜单正常工作 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 确保所有下拉菜单正常工作
            if (typeof jQuery !== 'undefined') {
                // 手动初始化所有下拉菜单
                jQuery('[data-toggle="dropdown"]').dropdown();
            }
        });
    </script>
</header >
</html>